


/*************************/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  max-height: 207px;
  object-fit: cover;
}

/* Start of swiper 跑馬燈特效 */
.swiper{
  background-color: #000;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.swiper-slide {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 3.2px;
  width: auto;
  color: #FBFF22;
  background: #000;
}

/* End of swiper 跑馬燈特效 */



/**/
/*.recent-list {
    .card-img {
      img {
      object-fit: cover;
      height: 255px;
    }
  }
}*/


/* 活動清單 */
/*.event-list {
  .h2-transform {
    transform: translate(-50%, -50%) rotate(-4deg);
  }
  
  li {
    &:nth-child(2n) {
      transform: translate(-10px, -2px) rotate(2deg);
    }
    &:nth-child(3) {
      transform: translate(-14px, 0px) rotate(-2deg);
    }
  }
  
  .item {
    img {
      object-fit: cover;
      height: 274px;
    }
  }
}

a {
  text-decoration: none;
  color: black;
}
*/

/****** Start of 活動相簿 ******/
.event-list {
  .bottom-btn {
    padding: 12px 0px;
  }

  .btn-left {
    height: 24px;
    width: 24px;
  }

  .hover-text-decoration:hover {
    text-decoration: underline;
  }

  .hover-bg-yellow:hover {
    background-color: yellow;
    border-radius: 50px;
  }
}
/******  End of 活動相簿 ******/


/****** Start of Modal ******/

.modal-btn {
  background-color: #000;
  border: 0px;
  color: #FFFF00;
}

.modal-btn:hover{
  background-color: #000;
  color: #ffffff;
}

.modal {
  h4 {
    font-family: 'Noto Serif TC', sans-serif;
  }
}

.btn-close{
  opacity:1;
}

/****** End of Modal *********/



/** Start of Album **/
 .album-list {

  .h2-transform {
    transform: translate(-50%, -50%) rotate(-4deg);
  }

  li {
    &:nth-child(2n) {
      transform: translate(-10px, -2px) rotate(2deg);
    }

    &:nth-child(3) {
      transform: translate(-14px, 0px) rotate(-2deg);
    }
  }

  .item {
    img {
      object-fit: cover;
      height: 274px;
    }
  }


  h2 {
    font-family: "Yeseva One";
    padding-bottom: 12px;
    margin-bottom: 12px;
    font-size: 48px;
  }

  h3 {
    font-family: 'Noto Serif TC', sans-serif;
  }

  img {
    display: block;
    width: 100%;
  }

  h3 {
    margin: 12px 0px;
  }

  a {
    text-decoration: none;
    color: black;
  }
} 



/* Start of Tag */
.tag {
  .tag-checkbox {
    // 隱藏 checkbox
    display: none;
  }

  .tag-list {
    .tag-item {
      position: relative;
      border-left: 4px solid #000000;
    }

    .tag-item:focus {
      // 移除 Bootstrap 預設的按鈕 focus 邊框
      box-shadow: none;
    }

    // 當 .tag-item 被 hover 的時候 .tag-item 加入以下樣式
    .tag-item:hover,
    // 當 .tag-item 同層有 .active 的時候 .tag-item 加入以下樣式
    .tag-item.active,
    // 當 .tag-checkbox 狀態是 checked 的時候，同階層的 .tag-item 加入以下樣式
    .tag-checkbox:checked+.tag-item {
      background-color: #030303;
      color: #ffffff;

      &::before {
        position: absolute;
        content: "";
        width: 4px;
        background-color: #fbff22;
        height: calc(100% + 4px);
        top: -2px;
        left: -4px;
      }
    }
  }
}

/* End of Tag */