.number {
    border: 1px solid #000;
    width: 32px;
    height: 32px;
    background-color: #f3f1e5;
    z-index: 1;
  }
  @media (min-width: 768px) {
    .number {
      width: 48px;
      height: 48px;
      font-size: 20px;
    }
  }
  .number-active {
    background-color: #000;
    color: #FBFF22;
  }
  .pay-list::before {
    content: "";
    width: 83%;
    height: 1px;
    background-color: black;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30%;
    position: absolute;
    z-index: 1;
  }