<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>活動分類頁 - W6 活動訂票網</title>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</head>

<body>
    <%- include('./layout/header'); -%>

        <!-- Start of TITLE -->
        <div class="container mb-16">
            <!-- Text  -->
            <div class="d-flex justify-content-between align-items-center border border-3 border-primary">
                <h2 class="yeseva-one fs-21 fs-lg-1 fw-bold ms-6 ms-lg-16 py-8 py-lg-12">EVENT</h2>
                <span class="noto-tc-serif fs-25 fs-lg-21 fw-bold me-6 me-lg-16">所有活動</span>
            </div>
            <!-- Text  -->
        </div>
        <!-- End of Recent -->

        <!-- Start of 標籤-->
        <div class="container mb-12 mb-lg-16">
            <div class="tag">
                <ul class="tag-list list-unstyled d-flex noto-tc-serif flex-wrap gap-2">
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                演出
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                音樂
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                舞蹈
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                戲劇
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                音樂會
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                課程講座
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                社群活動
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                展覽
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                研討會
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                電影
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                電音派對
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                遊戲競賽
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                親子
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                藝文活動
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                運動
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                交通旅遊
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                美食
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                資訊科技
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                聯誼
                            </p>
                        </label>
                    </li>
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                戶外
                            </p>
                        </label>
                    </li>  
                    <li class="me-4">
                        <label>
                            <input type="checkbox" class="tag-checkbox">
                            <p class="tag-item btn btn-outline-dark py-2 px-8 px-lg-12 py-lg-2 rounded-0">
                                線上活動
                            </p>
                        </label>
                    </li>                                                                                
                </ul>
            </div>
        </div>
        <!-- End of 標籤-->


        <div class="container mb-30">
            <!-- Start of 活動相簿-->
            <div class="event-list">
                <div class="row g-12"> <!-- start of row -->
                    <div class="col-12 col-lg-4 mx-auto">
                        <div class="d-flex flex-column">
                            <!-- start of card -->
                            <div class="card">
                                <div class="border-3 border-bottom border-dark mb-6">
                                    <h3 class="yeseva-one fs-17 fs-lg-9 fw-normal pb-6">19 MAY 2023</h3>
                                </div>
                                <div class="card-img">
                                    <img src="../assets/images/event/01.jpg" class="card-img-top" alt="image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title noto-tc-serif fs-24 fs-lg-21  fw-bold mb-6">邪典電影派對——房間</h4>
                                    <p class="card-text lh-base noto-tc-sans fs-25">你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                                        製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
                                </div>

                                <div
                                    class="py-6 d-flex justify-content-between border-top border-bottom border-2 border-dark">
                                    <a href="#" class="d-flex align-items-center hover-text-decoration"><img
                                            src="../assets/images/sparkler.png" class="btn-left img-fluid"
                                            alt="社群活動">社群活動</a>
                                    <a href="#exampleModal" class="d-flex align-items-center hover-bg-yellow"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
                                </div>
                            </div>
                            <!-- end of card -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mx-auto">
                        <div class="d-flex flex-column">
                            <!-- start of card -->
                            <div class="card">
                                <div class="border-3 border-bottom border-dark mb-6">
                                    <h3 class="yeseva-one fs-17 fs-lg-9 fw-normal pb-6">23 MAY 2023</h3>
                                </div>
                                <div class="card-img">
                                    <img src="../assets/images/event/02.jpg" class="card-img-top" alt="image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title noto-tc-serif fs-24 fs-lg-21 fw-bold mb-6">邪典電影派對——房間</h4>
                                    <p class="card-text lh-base noto-tc-sans fs-25">你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                                        製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
                                </div>

                                <div
                                    class="py-6 d-flex justify-content-between border-top border-bottom border-2 border-dark">
                                    <a href="#" class="d-flex align-items-center hover-text-decoration"><img
                                            src="../assets/images/sparkler.png" class="btn-left img-fluid"
                                            alt="社群活動">社群活動</a>
                                    <a href="#exampleModal" class="d-flex align-items-center hover-bg-yellow "
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
                                </div>
                            </div>
                            <!-- end of card -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mx-auto">
                        <div class="d-flex flex-column">
                            <!-- start of card -->
                            <div class="card">
                                <div class="border-3 border-bottom border-dark mb-6">
                                    <h3 class="yeseva-one fs-17 fs-lg-9 fw-normal pb-6">30 MAY 2023</h3>
                                </div>
                                <div class="card-img">
                                    <img src="../assets/images/event/03.jpg" class="card-img-top" alt="image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title noto-tc-serif fs-24 fs-lg-21 fw-bold mb-6">哈利波特馬拉松</h4>
                                    <p class="card-text lh-base noto-tc-sans fs-25">
                                        每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...
                                    </p>
                                </div>

                                <div
                                    class="py-6 d-flex justify-content-between border-top border-bottom border-2 border-dark">
                                    <a href="#" class="d-flex align-items-center hover-text-decoration"><img
                                            src="../assets/images/sparkler.png" class="btn-left img-fluid"
                                            alt="社群活動">社群活動</a>
                                    <a href="#exampleModal" class="d-flex align-items-center hover-bg-yellow "
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
                                </div>
                            </div>
                            <!-- end of card -->
                        </div>
                    </div>
                </div> <!-- end of row -->

                <div class="row g-12"> <!-- start of row -->
                    <div class="col-12 col-lg-4 mx-auto">
                        <div class="d-flex flex-column">
                            <!-- start of card -->
                            <div class="card">
                                <div class="border-3 border-bottom border-dark mb-6">
                                    <h3 class="yeseva-one fs-17 fs-lg-9 fw-normal pb-6">12 June 2023</h3>
                                </div>
                                <div class="card-img">
                                    <img src="../assets/images/event/04.jpg" class="card-img-top" alt="image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title noto-tc-serif fs-24 fs-lg-21  fw-bold mb-6">皮卡丘排球大賽</h4>
                                    <p class="card-text lh-base noto-tc-sans fs-25">
                                        還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...
                                    </p>
                                </div>

                                <div
                                    class="py-6 d-flex justify-content-between border-top border-bottom border-2 border-dark">
                                    <a href="#" class="d-flex align-items-center hover-text-decoration"><img
                                            src="../assets/images/sparkler.png" class="btn-left img-fluid"
                                            alt="社群活動">社群活動</a>
                                    <a href="#exampleModal" class="d-flex align-items-center hover-bg-yellow"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
                                </div>
                            </div>
                            <!-- end of card -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mx-auto">
                        <div class="d-flex flex-column">
                            <!-- start of card -->
                            <div class="card">
                                <div class="border-3 border-bottom border-dark mb-6">
                                    <h3 class="yeseva-one fs-17 fs-lg-9 fw-normal pb-6">25 June 2023</h3>
                                </div>
                                <div class="card-img">
                                    <img src="../assets/images/event/05.jpg" class="card-img-top" alt="image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title noto-tc-serif fs-24 fs-lg-21 fw-bold mb-6">酒精路跑</h4>
                                    <p class="card-text lh-base noto-tc-sans fs-25">
                                        身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。</p>
                                </div>
                                <div
                                    class="py-6 d-flex justify-content-between border-top border-bottom border-2 border-dark">
                                    <a href="#" class="d-flex align-items-center hover-text-decoration"><img
                                            src="../assets/images/sparkler.png" class="btn-left img-fluid"
                                            alt="社群活動">社群活動</a>
                                    <a href="#exampleModal" class="d-flex align-items-center hover-bg-yellow "
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
                                </div>
                            </div>
                            <!-- end of card -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mx-auto">
                        <div class="d-flex flex-column">
                            <!-- start of card -->
                            <div class="card">
                                <div class="border-3 border-bottom border-dark mb-6">
                                    <h3 class="yeseva-one fs-17 fs-lg-9 fw-normal pb-6">9 July 2023</h3>
                                </div>
                                <div class="card-img">
                                    <img src="../assets/images/event/06.jpg" class="card-img-top" alt="image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title noto-tc-serif fs-24 fs-lg-21 fw-bold mb-6">展覽——我的房間</h4>
                                    <p class="card-text lh-base noto-tc-sans fs-25">
                                        每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
                                </div>

                                <div
                                    class="py-6 d-flex justify-content-between border-top border-bottom border-2 border-dark">
                                    <a href="#" class="d-flex align-items-center hover-text-decoration"><img
                                            src="../assets/images/sparkler.png" class="btn-left img-fluid"
                                            alt="社群活動">社群活動</a>
                                    <a href="#exampleModal" class="d-flex align-items-center hover-bg-yellow "
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
                                </div>
                            </div>
                            <!-- end of card -->
                        </div>
                    </div>
                </div> <!-- end of row -->

                <div class="row g-12"> <!-- start of row -->
                    <div class="col-12 col-lg-4 mx-auto">
                        <div class="d-flex flex-column">
                            <!-- start of card -->
                            <div class="card">
                                <div class="border-3 border-bottom border-dark mb-6">
                                    <h3 class="yeseva-one fs-17 fs-lg-9 fw-normal pb-6">19 MAY 2023</h3>
                                </div>
                                <div class="card-img">
                                    <img src="../assets/images/event/07.jpg" class="card-img-top" alt="image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title noto-tc-serif fs-24 fs-lg-21  fw-bold mb-6">野營音樂祭</h4>
                                    <p class="card-text lh-base noto-tc-sans fs-25">
                                        喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過 15 項體驗與工作坊、新興音樂人的草地演唱。</p>
                                </div>

                                <div
                                    class="py-6 d-flex justify-content-between border-top border-bottom border-2 border-dark">
                                    <a href="#" class="d-flex align-items-center hover-text-decoration"><img
                                            src="../assets/images/sparkler.png" class="btn-left img-fluid"
                                            alt="社群活動">社群活動</a>
                                    <a href="#exampleModal" class="d-flex align-items-center hover-bg-yellow"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
                                </div>
                            </div>
                            <!-- end of card -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mx-auto">
                        <div class="d-flex flex-column">
                            <!-- start of card -->
                            <div class="card">
                                <div class="border-3 border-bottom border-dark mb-6">
                                    <h3 class="yeseva-one fs-17 fs-lg-9 fw-normal pb-6">19 MAY 2023</h3>
                                </div>
                                <div class="card-img">
                                    <img src="../assets/images/event/08.jpg" class="card-img-top" alt="image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title noto-tc-serif fs-24 fs-lg-21 fw-bold mb-6">疊疊樂大賽</h4>
                                    <p class="card-text lh-base noto-tc-sans fs-25">
                                        來到七星潭會想到什麼呢？絕對是數也數不清的扁扁石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！</p>
                                </div>
                                <div
                                    class="py-6 d-flex justify-content-between border-top border-bottom border-2 border-dark">
                                    <a href="#" class="d-flex align-items-center hover-text-decoration"><img
                                            src="../assets/images/sparkler.png" class="btn-left img-fluid"
                                            alt="社群活動">社群活動</a>
                                    <a href="#exampleModal" class="d-flex align-items-center hover-bg-yellow "
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
                                </div>
                            </div>
                            <!-- end of card -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mx-auto">
                        <div class="d-flex flex-column">
                            <!-- start of card -->
                            <div class="card">
                                <div class="border-3 border-bottom border-dark mb-6">
                                    <h3 class="yeseva-one fs-17 fs-lg-9 fw-normal pb-6">18 MAY 2023</h3>
                                </div>
                                <div class="card-img">
                                    <img src="../assets/images/event/09.jpg" class="card-img-top" alt="image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title noto-tc-serif fs-24 fs-lg-21 fw-bold mb-6">返老還童-制服聯誼</h4>
                                    <p class="card-text lh-base noto-tc-sans fs-25">
                                        由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！</p>
                                </div>

                                <div
                                    class="py-6 d-flex justify-content-between border-top border-bottom border-2 border-dark">
                                    <a href="#" class="d-flex align-items-center hover-text-decoration"><img
                                            src="../assets/images/sparkler.png" class="btn-left img-fluid"
                                            alt="社群活動">社群活動</a>
                                    <a href="#exampleModal" class="d-flex align-items-center hover-bg-yellow "
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
                                </div>
                            </div>
                            <!-- end of card -->
                        </div>
                    </div>
                </div> <!-- end of row -->

                <div class="row g-12"> <!-- start of row -->
                    <div class="col-12 col-lg-4 mx-auto">
                        <div class="d-flex flex-column">
                            <!-- start of card -->
                            <div class="card">
                                <div class="border-3 border-bottom border-dark mb-6">
                                    <h3 class="yeseva-one fs-17 fs-lg-9 fw-normal pb-6">19 MAY 2023</h3>
                                </div>
                                <div class="card-img">
                                    <img src="../assets/images/event/10.jpg" class="card-img-top" alt="image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title noto-tc-serif fs-24 fs-lg-21  fw-bold mb-6">野外求生17天</h4>
                                    <p class="card-text lh-base noto-tc-sans fs-25">
                                        野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...
                                    </p>
                                </div>

                                <div
                                    class="py-6 d-flex justify-content-between border-top border-bottom border-2 border-dark">
                                    <a href="#" class="d-flex align-items-center hover-text-decoration"><img
                                            src="../assets/images/sparkler.png" class="btn-left img-fluid"
                                            alt="社群活動">社群活動</a>
                                    <a href="#exampleModal" class="d-flex align-items-center hover-bg-yellow"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
                                </div>
                            </div>
                            <!-- end of card -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mx-auto">
                        <div class="d-flex flex-column">
                            <!-- start of card -->
                            <div class="card">
                                <div class="border-3 border-bottom border-dark mb-6">
                                    <h3 class="yeseva-one fs-17 fs-lg-9 fw-normal pb-6">19 MAY 2023</h3>
                                </div>
                                <div class="card-img">
                                    <img src="../assets/images/event/11.jpg" class="card-img-top" alt="image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title noto-tc-serif fs-24 fs-lg-21 fw-bold mb-6">耳熟能詳音樂祭</h4>
                                    <p class="card-text lh-base noto-tc-sans fs-25">
                                        對你來說聽都沒聽過的團，但是音樂一下保證跟著唱，重磅邀請各界隱藏天籟歌手、天團，不想曬太陽也可以在樹下當 KTV 跟著唱，唱不出來服務台報到立馬退費！</p>
                                </div>
                                <div
                                    class="py-6 d-flex justify-content-between border-top border-bottom border-2 border-dark">
                                    <a href="#" class="d-flex align-items-center hover-text-decoration"><img
                                            src="../assets/images/sparkler.png" class="btn-left img-fluid"
                                            alt="社群活動">社群活動</a>
                                    <a href="#exampleModal" class="d-flex align-items-center hover-bg-yellow "
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
                                </div>
                            </div>
                            <!-- end of card -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mx-auto">
                        <div class="d-flex flex-column">
                            <!-- start of card -->
                            <div class="card">
                                <div class="border-3 border-bottom border-dark mb-6">
                                    <h3 class="yeseva-one fs-17 fs-lg-9 fw-normal pb-6">19 MAY 2023</h3>
                                </div>
                                <div class="card-img">
                                    <img src="../assets/images/event/12.jpg" class="card-img-top" alt="image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title noto-tc-serif fs-24 fs-lg-21 fw-bold mb-6">野營發呆大賽</h4>
                                    <p class="card-text lh-base noto-tc-sans fs-25">
                                        你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十萬的綿豆腐床墊一張！</p>
                                </div>

                                <div
                                    class="py-6 d-flex justify-content-between border-top border-bottom border-2 border-dark">
                                    <a href="#" class="d-flex align-items-center hover-text-decoration"><img
                                            src="../assets/images/sparkler.png" class="btn-left img-fluid"
                                            alt="社群活動">社群活動</a>
                                    <a href="#exampleModal" class="d-flex align-items-center hover-bg-yellow "
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
                                </div>
                            </div>
                            <!-- end of card -->
                        </div>
                    </div>
                </div> <!-- end of row -->

            </div>
            <!-- End of 活動相簿-->
        </div>

        <div class="container">
            <div class="text-center">
                <!-- Start of 分頁-->
                <nav aria-label="Page navigation">
                    <ul class="pagination noto-tc-serif fw-bold justify-content-center">
                        <li class="page-item">
                            <a class="page-link-custom" href="#" aria-label="Previous">
                                <i class="icofont-arrow-left"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link-custom" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link-custom" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link-custom" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link-custom" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link-custom" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link-custom" href="#" aria-label="Next">
                                <i class="icofont-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End of 分頁-->
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content text-center rounded-0">
                    <div class="modal-header border-bottom border-3 border-dark d-flex justify-content-center">
                        <h4 class="modal-title fs-4 fw-bold mx-auto" id="exampleModalLab el">立刻成為7TAO會員</h4>
                        <button type="button" class="btn-close ms-0 text-dark" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body py-5">
                        <p>
                            立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br>
                            您也可以先報名活動，日後再註冊帳號，<br>
                            系統會在認證您的Email後，協助您找回舊的訂單。
                        </p>
                        <button type="button" class="btn btn-primary mt-4 px-4 py-2 modal-btn rounded-0">立即成為會員</button>
                    </div>
                </div>
            </div>
        </div>


        <script>
            const swiper = new Swiper(".mySwiper", {
                //避免使用者移動到
                allowTouchMove: false,

                //能呈現幾個.swiper-slide
                slidesPerView: "auto",

                //跑馬燈的速度(毫秒)
                speed: 5000,

                //是否重複
                loop: true,
                autoplay: {

                    //到下一個幻燈片時，停下的時間
                    delay: 0,

                    //避免點擊造成跑馬燈失效，視情況增加
                    disableOnInteraction: false
                }
            });
        </script>
        <!-- End of swiper -->

        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>