<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>會員登入頁 - W6 活動訂票網</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>


    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto mb-24">
          <div class="text-center">
            <img src="../assets/images/sparkler.png" alt="sparkler" width="32" class="">
            <h2 class="noto-tc-serif fs-21 fw-bold pb-16">會員登入</h2>
          </div>
          <form action="">
            <div class="mb-8">
              <label for="exampleFormControlInputAccount" class="form-label">帳號</label>
              <input type="text" class="form-control" id="exampleFormControlInputAccount" placeholder="請輸入帳號">
            </div>
            <div class="mb-8">
              <label for="exampleFormControlInputPassword" class="form-label">密碼</label>
              <input type="password" class="form-control" id="exampleFormControlInputPassword" placeholder="請輸入密碼">
            </div>
            
            <div class="d-grid gap-2 mx-auto">
              <button class="btn btn-primary btn-lg" type="button">登入 &raquo;</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
   
  </body>
</html>