<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>結帳頁 - W6 活動訂票網</title>

  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container mb-24">
        <div class="row">
          <div class="col-md-6 mx-auto mb-24">
            <ol class="pay-list mt-5 d-flex justify-content-between list-unstyled pe-0 position-relative">
              <li class="d-flex flex-column align-items-center">
                <p class="number d-flex justify-content-center align-items-center number-active mb-0">1</p>
                <p class="noto-tc-serif fw-bold mb-0">訂單確認</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <p class="number d-flex justify-content-center align-items-center mb-0">2</p>
                <p class="noto-tc-serif fw-bold mb-0">結帳付款</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <p class="number d-flex justify-content-center align-items-center mb-0">3</p>
                <p class="noto-tc-serif fw-bold mb-0">訂單結果</p>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="container">
        <h2 class="noto-tc-serif fs-9 fw-bold text-center pb-16">返老還童-制服聯誼</h2>
        <div class="row">
          <div class="col-md-6 mx-auto mb-24">
              <table class="table">
                  <thead>
                      <tr style="border-bottom: 2px solid #030303;">
                          <th scope="col"></th>
                          <th scope="col"></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="border-bottom-1 border-dark">
                          <td class="text-start"><span class="noto-tc-serif fs-25 fw-bold">日期</span></td>
                          <td class="text-end"><span class="noto-tc-sans fs-25">2023/5/12</span></td>
                      </tr>
                      <tr class="border-bottom-1 border-dark">
                          <td class="text-start"><span class="noto-tc-serif fs-25 fw-bold">票種</span></td>
                          <td class="text-end"><span class="noto-tc-sans fs-25">改頭換面票（含大改造）</span></td>
                      </tr>
                      <tr class="border-bottom-1 border-dark">
                          <td class="text-start"><span class="noto-tc-serif fs-25 fw-bold">票價</span></td>
                          <td class="text-end"><span class="noto-tc-sans fs-25">$8000</span></td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto mb-24">
            <div class="text-center">
              <img src="../assets/images/sparkler.png" alt="sparkler" width="32" class="">
              <h2 class="noto-tc-serif fs-21 fw-bold pb-16">聯絡人資料</h2>
            </div>
            <form action="">
              <div class="mb-8">
                <label for="exampleFormControlInputName" class="form-label">聯絡人姓名</label>
                <input type="text" class="form-control noto-tc-sans" id="exampleFormControlInputName" placeholder="請輸入聯絡人名稱">
              </div>
              <div class="mb-8">
                <label for="exampleFormControlInputEmail" class="form-label">Email</label>
                <input type="email" class="form-control noto-tc-sans" id="exampleFormControlInputEmail" placeholder="請輸入Email">
              </div>
              <div class="mb-8">
                <label for="exampleFormControlInputPhone" class="form-label">手機</label>
                <input type="phone" class="form-control noto-tc-sans" id="exampleFormControlInputPhone" placeholder="請輸入手機號碼">
              </div>
              <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary btn-lg" type="button">確認表單資料</button>
                <button class="btn" type="button">取消購票 &raquo;</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>

  </body>
</html>