<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>結帳完成頁 - W6 活動訂票網</title>

  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <ol class="pay-list mt-5 d-flex justify-content-between list-unstyled pe-0 position-relative">
              <li class="d-flex flex-column align-items-center">
                <p class="number d-flex justify-content-center align-items-center mb-0">1</p>
                <p class="noto-tc-serif  fw-bold mb-0">訂單確認</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <p class="number d-flex justify-content-center align-items-center mb-0">2</p>
                <p class="noto-tc-serif  fw-bold mb-0">結帳付款</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <p class="number d-flex justify-content-center align-items-center number-active mb-0">3</p>
                <p class="noto-tc-serif  fw-bold mb-0">訂單結果</p>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto mb-24">
            <div class="text-center mt-24">
              <i class="icofont-check-circled fs-9"></i>
              <h2 class="noto-tc-serif fs-17 fw-bold pb-16">訂購成功</h2>
            </div>

                <table class="table">
                  <thead>
                      <tr style="border-bottom: 2px solid #030303;">
                          <th scope="col"></th>
                          <th scope="col"></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="border-bottom-1 border-dark">
                          <td class="text-start"><span class="noto-tc-serif fs-25 fw-bold">訂單編號</span></td>
                          <td class="text-end"><span class="noto-tc-sans fs-25">892746123</span></td>
                      </tr>
                      <tr class="border-bottom-1 border-dark">
                          <td class="text-start"><span class="noto-tc-serif fs-25 fw-bold">訂購時間</span></td>
                          <td class="text-end"><span class="noto-tc-sans fs-25">2023/04/28 14:30</span></td>
                      </tr>
                      <tr class="border-bottom-1 border-dark">
                          <td class="text-start"><span class="noto-tc-serif fs-25 fw-bold">票券</span></td>
                          <td class="text-end"><span class="noto-tc-sans fs-25">改頭換面票（含大改造）$8000</span></td>
                      </tr>

                      <tr class="border-bottom-1 border-dark">
                          <td class="text-start"><span class="noto-tc-serif fs-25 fw-bold">取票序號</span></td>
                          <td class="text-end"><span class="noto-tc-sans fs-25 text-tertiary">95G54J4434</span></td>
                      </tr>
                      
                      <tr class="border-bottom-1 border-dark">
                          <td class="text-start"><span class="noto-tc-serif fs-25 fw-bold">取票號碼</span></td>
                          <td class="text-end"><span class="noto-tc-sans fs-25 text-tertiary">04597101</span></td>
                      </tr>                      
                  </tbody>
              </table>
            <div class="mt-8">
              <p class="noto-tc-sans">請至 7-Eleven 完成取票，請於 ibon 點選【購票/取票/訂房】>【售票系統】>【取票】>【拓元售票系統】。<br>
                若您未前往取票，本筆交易仍視為完成，不可取消訂單。<br>
                若需退票，請按照退票辦法進行申請。
              </p>
            </div>
          </div>
        </div>
      </div>




    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>

  </body>
</html>